<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      Candidats
    </mat-card-title>
  </mat-card-title-group>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
  <mat-nav-list *ngIf="candidates$ | async as candidates">
    <a *ngFor="let candidate of candidates" [routerLink]="candidate.id.toString()" mat-list-item>
      <img [alt]="candidate.lastName" [src]="candidate.imageUrl" matListAvatar>
      <h3 matLine>{{candidate.firstName}} {{candidate.lastName}}</h3>
      <p matLine>{{candidate.job}} chez {{candidate.company}} </p>
    </a>
  </mat-nav-list>
</mat-card>
