<div class="comments-row">
  <mat-form-field>
    <input type="text" matInput placeholder="Laisser un commentaire..." [formControl]="commentCtrl" >
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="onLeaveComment()" >
    <mat-icon>send</mat-icon>
  </button>
</div>
  <mat-list *ngIf="comments.length">
    <h2 mat-subheader>Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments">
      <span mat-line>{{comment.comment}}</span>
      <span mat-line>{{comment.createdDate | date}}</span>
    </mat-list-item>
  </mat-list>
